@font-face{
    src: url(digital-7.ttf);
    font-family: "Digital-7";
}
body{
    background-image: linear-gradient(to left bottom, #141e30 , #243b55);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
height: 74vh;
}
h1{
    color: white;
    padding-bottom: 30px;
    font-size: 40px;
}
.container{
   height: 300px;
   width: 300px;
   text-align: center;
   margin: 160px auto!important ;
   /* margin-top: 160px!important; */

   
}
#display{
    width: 250px;
  /* padding-top: 30px;
  padding-bottom: 30px; */
  padding: 30px 15px;
    font-size: 60px;
    border: 3px solid white;
    text-align: center;
    margin: 0px auto!important ;
    border-radius: 50%;
    color: white;
    background-image: linear-gradient(to top, #bdc3c7 , #2c3e50);
    font-family: 'Digital-7' !important;
}
button{
    text-transform: uppercase;
    margin-bottom: 10px;
    border-radius: 50%;
    padding: 10px;
    font-size: 15px;
    outline: none;
   font-weight: bold;
}
#startStop{
    margin-right: 100px;
}

